
		.topo{
			text-align: center;
			background-color: #191970;
			height: 200px;
		}
		h1{
			text-align: center;
			font-family: verdana;
			text-shadow: 2px 2px 2px #191970;
		}
		.pesquisa{
			text-align: right;
		}
		.img-template{
			text-align: center;
			font-family: verdana;
			font-size: 20px;
			padding: 20px;
		}
		.rodape{
			text-align: center;
			font-family: verdana;
			text-shadow: 2px 2px 2px #000;
			color: #fff;
			background-color: #191970;
		}
		h3{
			text-align: center;
			font-family: verdana;
			font-size: 18px;
		}

		h4{
			width: 100%;
			padding: 8px;
			border-radius: 20px;
			border-color: rgba(0, 0, 0 , 0);
			background-color: #3366CC;
			text-align: center 60px 60px;
			font-family: verdana;
			font-size: 14px;
		}
